.doc_image {
    max-width: inherit;
}
.tag-span {
    padding: 2px 10px 2px 10px;
}
.doc-submit-download {
    display: flex;
    justify-content: space-between
}
.doc-download {
    align-items: end;
    display: flex;
}
.col--preview-container {
    max-height: 350px;
    overflow-y: scroll;
}
#doc-form {
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}
.upload-doc:hover {
    cursor: pointer;
}
.create_ws {
    display: flex;
    justify-content: end;
}
.upload_doc_div {
    display: flex;
    justify-content: space-between;
}
.col--preview-container>img, .col--preview-container>video {
    max-height: 300px;
}
a.list-group-item.list-group-item-action.d-flex.align-items-center.justify-content-between.d-none[href="/my/documents/"] {
    display: flex !important;
}

#loader__container {
    position: fixed;
    height: -webkit-fill-available;
    width: 100%;
    top: 0px;
    background: #00000033;
    z-index: 10000;
    display: none;
}

#loader {
    margin: auto;
    position: absolute;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    top: 50%;
    left: 50%;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
