.doc_image {
    max-width: inherit;
}
.doc-owner {
    display: flex;
    gap: 10px;
    align-items: center;
}
.doc-submit-download {
    display: flex;
    justify-content: space-between
}
.doc-download {
    align-items: end;
    display: flex;
}
.col--preview-container {
    max-height: 350px;
    overflow-y: scroll;
}
#doc-form {
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}
.upload-doc:hover {
    cursor: pointer;
}
.create_ws {
    display: flex;
    justify-content: end;
}
.upload_doc_div {
    display: flex;
    justify-content: space-between;
}
.col--preview-container>img, .col--preview-container>video {
    max-height: 300px;
}
a.list-group-item.list-group-item-action.d-flex.align-items-center.justify-content-between.d-none[href="/my/documents/"] {
    display: flex !important;
}
a.list-group-item.list-group-item-action.d-flex.align-items-center.justify-content-between.d-none[href="/my/signatures"] {
    display: flex !important;
}

#loader__container {
    position: fixed;
    height: -webkit-fill-available;
    width: 100%;
    top: 0px;
    background: #00000033;
    z-index: 10000;
    display: none;
}

#loader {
    margin: auto;
    position: absolute;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    top: 50%;
    left: 50%;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

i.edit_document, i.delete_document_workspace, i.change_workspace {
    cursor: pointer;
}
.modal-opener:hover {
    cursor: pointer;
}

#downpayment_check {
    border-radius: 3px;
    width: 25px;
    height: 25px;
}

.price_display .pay-now{
    justify-content: space-between;
}

#price_display_input::-webkit-outer-spin-button,
#price_display_input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
#price_display_input {
  -moz-appearance: textfield;
}

div.o_sign_validate_banner button{
    padding: 20px;
    margin-bottom: 20px;
    font-size: larger;
}
.o_survey_form .o_survey_choice_btn, .o_survey_print .o_survey_choice_btn, .o_survey_session_manage .o_survey_choice_btn, .o_survey_quick_access .o_survey_choice_btn{
    flex: 1 0 !important;
}
div.delete_buttons input{
    width: 40%;
}
.delete_document_workspace, .edit_document, .change_workspace {
    font-size: 1.5em;
}
.workspace-load {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
@media (max-width: 768px) {
    .o_portal_custom {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}


